<div class="container">
        <div>
          <h1>Register</h1>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input [{ngModel}="registerUserData.name"]type="text" id="name">
              <label [{ngModel}="registerUserData.email"] for="Email">Email</label>
              <input type=text id="email">
              <label [for="userName">Username</label>
              <input {ngModel}="registerUserData.userName"] type="text" id="userName">
              <label for="password">password</label>
              <input [{ngModel}="registerUserData.password"] type=text id="password">
                <input type="submit">
              </div>
        
      
        