.fish-item{background: #fff;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 0 4px #b3b3b3, inset 0 0 1px #dfdfdf;
    box-shadow: 0 0 4px #b3b3b3, inset 0 0 1px #dfdfdf;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
    text-align: left;
    font-weight: 200;
}